.blocks{
    padding:1em;
    text-align: center;
    color: $white;
    border-radius: $default-radius;
    margin: 0;
}

.blocks--big{
    padding:2em;
    text-align: center;
    color: $white;
    border-radius: $default-radius;
    margin: 0;
}


