/** 
 * @Author: Christiane Celeste 
 * @Date: 2018-06-10 10:04:15 
 * @Desc: Includes basic inputs and other  form elements
 */

.input{
    width: 100%;
    border: 1px solid $concrete;
    padding: .75rem;
    box-sizing: border-box;
    border-radius: 3px;
    color: $mine-shaft;
}

input[type='checkbox'].input, input[type='radio'].input{
    width: auto;
}

select[multiple].input{
    padding: 0;

    option{
        padding: 5px 10px;
        width: 100%;
    }
}

select:not([multiple]).input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    background-color: $white;
}

.dropdown{
    position: relative;
    width: 100%;
    overflow: hidden;

    // &:before, &:after{
        
    // }

    &:before {
        top: 50%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $mine-shaft;

        content: "";
        position: absolute;
        left: calc(100% - 30px);
        transform: translateY(-50%);
        width: 0;
        height: 0;
    }
    
    &:after {
        top: 45%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $white;

        content: "";
        position: absolute;
        left: calc(100% - 30px);
        transform: translateY(-50%);
        width: 0;
        height: 0;
    }


}

textarea.input{
    max-width: 100%;
    min-width: 100%;
    resize:none;
    height: 150px;
}