/** 
 * @Author: Christiane Celeste 
 * @Date: 2018-06-10 10:04:15 
 * @Desc: Includes basic inputs and other  form elements
 */

.input{
    width: 100%;
    border: 1px solid $concrete;
    padding: .75rem;
    box-sizing: border-box;
    border-radius: 3px;
    color: $mine-shaft;

}