/** 
 * @Author: Christiane Celeste 
 * @Date: 2018-03-31 10:41:26 
 * @Desc: Fonts 
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600');

// Font Families
$raleway: 'Raleway', serif;
$open-sans: 'Open Sans', sans-serif;

// Font Weights
$regular: 400;
$semi-bold: 600;